
.fondo-titulo{
    background-color: #4D5656;
    color:white;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

table {
    background-color: #D7DBDD; 
    color:white;
    border: 1px solid black; 
    width: 70%;
}

.estudio {
    font-family: "Arial";
}

.resaltado{
    font-family:"Tahoma";
}

.cursiva{
    font-family: cursive;
}

.color-titulo-tabla{
    color: red;
}

td{
    color:black;
    border: 1px solid black;
}

.espacio{
    margin-top: 50px;
}

#textoInput{
    width: 270px; 
    height: 20px;
}