
.fondo-titulo{
    background-color: blueviolet;
    color:white;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}


table {
    background-color: green; 
    color:white;
    border: 1px solid black;
}

.estudio {
    font-family: "Arial";
}

.resaltado{
    font-family:"Tahoma";
}

.cursiva{
    font-family: cursive;
}

.color-titulo-tabla{
    color: red;
}

td{
    color:black;
    border: 1px solid black;
}

.espacio{
    margin-top: 50px;
}

#textoInput{
    width: 220px; 
    height: 20px;
}
